/*
Theme Name: Ad Agency Lite
Theme URI: https://www.sktthemes.org/shop/free-media-agency-wordpress-theme
Author: SKT Themes
Author URI: https://www.sktthemes.org
Description: Ad Agency WordPress theme is suitable for ad agency, advertising firm, marketing agency, creative firm, ad and advertising company, firm, branding, promotion, consultancy, media. Similarly it can also be applied for SEO, search engine optimization, marketing, SEO services, strategy, organic search optimization, ranking, website optimization, on-page, off-page, digital promotion, online, PPC, paid ads. promotional ad campaigns. Fast loading and SEO friendly template for organic traffic. Call to action CTA friendly. Also can be used for corporate, startups, online agencies, portfolios, freelancers, E-commerce. Simple, scalable and flexible to use.
Template: skt-ui-ux
Version: 1.3
Tested up to: 6.8
Requires PHP: 5.6
License: GNU General Public License
License URI: https://www.gnu.org/licenses/license-list.html#GPLv2
Text Domain: ad-agency-lite
Tags: two-columns,right-sidebar,full-width-template,custom-background,custom-colors,custom-menu,sticky-post,theme-options,threaded-comments,featured-images,footer-widgets,translation-ready,rtl-language-support,custom-logo,editor-style,custom-header,blog,e-commerce,portfolio

Ad Agency Lite is based on Underscores theme(Underscores is distributed under the terms of the GNU GPL v2 or later).

Ad Agency Lite WordPress Theme has been created by SKT Themes(sktthemes.org), 2024.
Ad Agency Lite WordPress Theme is released under the terms of GNU GPL
*/

body{font-family: 'Poppins'; font-size: 16px;}
h1, h2, h3, h4, h5, h6{font-family: 'Poppins';}
a:hover {color: #523ccf;}
.head-info-area{background-color: #523ccf;}
.head-info-area .left{background-color:#b41153; padding:0 30px;}
.head-info-area .left .phntp{padding: 13px 25px 13px 0; border-right: 1px solid #c34175;}
.head-info-area .left .taglinetp{padding: 13px 0 0 25px;}
.emltp a:hover{color: #ffffff;}
.postmeta, .postmeta a{color: #523ccf;}
.logo{padding: 40px 120px 18px 0;}
.logo h2{font-size:28px;}
.heder-rightside{float:left;}
.header{background-color: #ffffff;}
.page_content{padding: 40px 0;}
#sidebar li a:hover{color:#523ccf;}
#sidebar ul li a:hover{color: #523ccf;}
.footer h2{font-size:22px;}
.footer h2:after{content:''; display:table; border-bottom:2px solid #523ad0; width:40px; position:relative; top:0; padding:0 0 30px 0;}
.footer h1, .footer h2, .footer h3, .footer h4{font-weight:500;}
.footer-row ul li a::before {content: '>'; padding-right: 10px;}
.footer-row .widget_nav_menu ul{text-align:left; border-radius:50px; font-size: 16px; font-weight: 500; background-color:transparent; margin-bottom:0; padding:0; font-family: 'Poppins';}
.ftr-widg{position:relative; z-index:999; padding:40px 0 30px 0;}
.footer-row .widget_nav_menu ul li{display:block;}
.cols-3:nth-child(1){width:25%; padding-left:0px;}
.cols-3:nth-child(2){width:22%;}
.cols-3:nth-child(3){width:27%;}
.cols-3:nth-child(4){width:26%; padding-right:0px;}
.cols-3 {float: left; padding:30px;}
.footer-row .cols-3 ul li a{color:#2d2d2d;}
.cols-3 ul li a{color: #2d2d2d;}
.cols-3 ul li a:hover, .cols-3 ul li.current_page_item a{color: #2995e7;}
.footer-row .cols-3 ul li a:hover, .footer-row .cols-3 ul li.current_page_item a{color: #2995e7}
.copyright-wrapper{color: #2d2d2d; background-color: #ffffff;}
.copyright-txt{padding: 30px 0 30px 0; text-align: center; color:#2d2d2d; font-family: 'Poppins'; border-top: solid 1px #e6e6e6;}
.copyright-txt a{color: #523ccf;}
.copyright-txt a:hover{color: #cccccc;}

#footermenu li.current-menu-item a, #footermenu li.current_page_item a{color: #523ccf;}
.copyright-txt span{color: #523ccf;}
input.search-submit, .post-password-form input[type=submit], .wpcf7-form input[type=submit], .woocommerce-product-search button[type=submit]{background-color: #523ccf;}
.screen-reader-text:focus{color: #523ccf;}
#logo-main a:focus, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="color"]:focus, textarea:focus, a:focus{outline: thin dotted #523ccf;}
#navigation{text-align: left; width:100%; border:none;}
.main-navigation{font-size:18px;}
.main-navigation ul li a{color: #000000; font-family: 'Poppins'; font-weight:500; font-size:16px; text-transform:uppercase;}
.main-navigation ul li:hover a, .main-navigation ul li a:focus, .main-navigation ul li a:hover, .main-navigation ul li.current-menu-item a, .main-navigation ul li.current_page_item a{color: #523ccf;}
.main-navigation ul ul li a:hover, .main-navigation ul ul li a:focus{background: #523ccf;}
.main-navigation ul li ul li a{line-height: 40px; color:#523ccf;}
.skt-header-quote-btn{float: right; margin:45px 0 0 0;}
.skt-header-quote-btn a{position:relative; background-color: #282828; padding: 15px 35px; color: #ffffff; font-size: 16px; font-weight: 600; text-align:center; border-radius:50px; right:0; bottom:0; min-width:inherit; font-family: 'Poppins'; text-transform:uppercase;}
.skt-header-quote-btn a:hover{background-color: #2995e7;}
.header-phone-number:hover{background-color:#523ccf;}
.toggled .menu-toggle span{background: #523ccf;}
.cart-customlocation:hover .custom-cart-count{background-color:#523ccf;}
.inner-banner-thumb{background-color:#a5def2; min-height:350px; max-height:350px;}
.inner-banner-thumb img{min-height:350px; max-height:350px;}
.inner-banner-thumb h1{font-size:36px; position:absolute; top:90px; color:#FFF; font-family: 'Poppins';}
#footer{position:relative; background-color:#ffffff !important; background:none; border-top:1px solid #ebeaea;}
.social-icons a{width: 40px; height: 50px; line-height: 50px; text-align: center; vertical-align: middle; display: inline-block; transition: 0.6s; -moz-transition: 0.6s; -webkit-transition: 0.6s; -o-transition: 0.6s; margin: 0 2px; padding: 0;}
.social-icons a:hover{background-color:#b41153;}
#sidebar .wp-block-search__label{font-family: 'Poppins';}
.main-navigation ul{font-family: 'Poppins';}
.sticky{border-bottom-color:#523ccf;}
.footer aside.widget{color:#000; padding:0 0 7px 0;}